{% extends 'main/base.html' %}

{% block title %}Про меня{% endblock %}

{% block content %}
<div class="features">
    <h1>Про меня</h1>
    <p>•Работая над этим сайтом я лучше понял принципы python, bootstrap, и самого django(модели, формы, шаблоны и тд).<br><br>

        •Мне ещё предстоит многому научиться, но по сравненеию со мной из прошлого я уже неплохо шарю в питоне и джанго)).<br><br>
        •Я не очень люблю верстать, поэтому я позаимствовал идеи верстки у <a href="https://www.youtube.com/channel/UCCXF68Da_ndcmvv_9OG75Cw" class="btn btn-info">этого канала.</a>
    </p>
</div>
{% endblock %}